@import "tailwindcss";

/* Add this at the bottom or top of your CSS file */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


body {
  background: hsl(0, 0%, 95%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  font-size: 15px;
  /* box-sizing: border-box; */
}


/* <div className=" mt-4 text-right">
          Tax:{' '}
          <input
            type="text"
            className="w-24 p-2 border border-gray-300 rounded outline-gray-400 text-center"
          />
        </div>

        <div className=" mt-4 text-right">
          Shipping:{' '}
          <input
            type="text"
            className="w-24 p-2 border border-gray-300 rounded outline-gray-400 text-center"
          />
        </div> */